.posts {
  display: grid;
  grid-row-gap: 16px;
}

@media screen and (max-width: 499px) {
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 100%;
    position: absolute;

    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);

    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
  }

  .nav a {
    width: 100%;
  }
}

@media screen and (min-width: 455px) {
  .headline__content {
    padding: 16px 16px;
  }

  .headline__title {
    font-size: 28px;
  }

  .headline__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .headline__content {
    margin: 0 auto;
    max-width: 650px;
  }

  .list-item__content {
    padding: 16px 32px 32px 32px;
  }

  .list-item__name {
    font-size: 18px;
  }

  .list-item__description {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
  .list-item__thumbnail {
    min-height: 270px;
  }
  a.skip-main:focus,
  a.skip-main:active {
    height: 50px;
  }
  .hero {
    display: flex;
    align-items: center;
    min-height: 400px;
    width: 100%;
    text-align: center;
    background-image: url("../public/hero-sharp/hero-image_4-large.jpg");
    background-position: center;
    background-color: yellow;
    background-size: cover;
  }
}

@media screen and (min-width: 800px) {
  .nav__list {
    max-width: 100%;
  }

  .nav a {
    width: 100%;
  }

  .header {
    display: flex;
  }

  .header__inner {
    font-size: 0.7em;
    text-align: left;
    padding-left: 8%;
    max-width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline__content {
    padding: 16px 32px;
  }

  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .lists-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }

  .lists-detail.review {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }

  .review {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
  /* syarat hero elemen min width 1000px pada layar >= 1200px */
  .hero {
    min-width: 1000px;
  }
}
